<div class="container">
	<h1>Gallery</h1>
</div>
<main class="main-wrapper" id="container">

	<!-- image Gallery -->
	<div class="wrapper container">
	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
		<!--<h2>-->
			<!--<div class="pull-right text-muted">19th May 2014</div>-->
		<!--</h2>-->
				<!--{{!#if heroImage}}-->
				<!--<div class="col-sm-4 col-md-4">-->
					<!--<img src="{{!cloudinaryUrl heroImage width='680' height='680'}}" class="img-rounded">-->
				<!--</div>-->
				<!--{{!/if}}-->
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 masonry">
						{{#each images}}
						<li class="masonry-item grid">
							<figure>
							<img src="{{cloudinaryUrl}}" class="card img-responsive">
							</figure>
						</li>
						{{/each}}
				</ul>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
	</div>
</main>
