{{!< default}}
<style>
	.bgimage {
		width:100%;
		height:500px;
		background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
		background-attachment: fixed;
	}
	.bgimage h5 {
		color:white;
		text-shadow:2px 2px #333;
	}
</style>
<div class="container">
	<section class="bgimage">
		<div class="container-fluid">
			
		</div>
	</section>
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="title">This week's featured story</h2>
			<h5 class="description">Each week, the editors pick one story that stands out and that story is shown here on the home page.</h5>
			<br>
		</div>
	</div>
	<section class="inner-left">

		<header class="text-center">
			<figure>
			<img src="https://c.pxhere.com/images/f5/bc/b1183125877ee752bdb185d55c4c-1418714.jpg!s" alt="profile picture" class="img-circle img-no-padding img-responsive" style="object-fit: cover; width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">
			</figure>
			<h4>Jonathan Doe</h4>

			<h5>Commercial Photographer</h5>
			<div class="social"> <a href="https://twitter.com/kwang0nya" target="_blank"><i class="fa fa-twitter fa-lg fa-fw"></i></a> <a href="https://www.instagram.com/kwangonya/" target="_blank"><i class="fa fa-instagram fa-lg fa-fw"></i></a> <a href="www.linkedin.com/in/kinyanjui-wangonya-711a68122" target="_blank"><i class="fa fa-linkedin fa-lg fa-fw"></i></a> </div>

		</header>

	</section>

	<!-- left -->

	<!-- right -->

	<section class="inner-right">

		<h3>Header</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

		<p>elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

		<p>
			elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.
		</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

		<p>elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

		<p>
			elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.
		</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

		<p>elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>



	</section>
</div>
